You've been invited to SmartChat by <%= inviter_email %>!
<br />
<br />
<%= message %>
<br />
<br />
You can download the app from the <a href="https://play.google.com/store/apps/details?id=io.smartlogic.smartchat">Google Play Store</a>.
